* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Rubik;
  src: url("/Rubik/Rubik-Regular.ttf");
}

body {
  background-color: #ebebeb;
  height: 100vh;
  width: 100vw;

  font-family: "Rubik";
  color: #303030;
}

.wrapper {
  position: relative;
  max-width: 30em;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header h1,
h2 {
  text-align: center;
}

header h1 {
  font-size: 2.5em;
}

header h2 {
  margin-top: 0.3em;
  font-size: 1.2em;
}

.links ul {
  list-style: none;
  text-align: center;
}

.links ul li {
  display: inline-block;
  margin: 1.2em 1.5em;
}

.links ul li a {
  text-decoration: none;
  color: #303030;
}

.icon {
  font-size: 1.6em;
}
